extends layout

block content
  h3= title
  form#form_add_property(name="addproperty", method="post",
  action="/addproperty")
    span Name
    span &nbsp;
    input#input_name(type="text", placeholder="name",
    name="name")
    br
    br
    span Location
    span &nbsp;
    input#input_name(type="text", placeholder="location",
    name="location")
    br
    br
    span Price
    span &nbsp;
    input#input_name(type="text", placeholder="price",
    name="price")
    br
    br
    span Description
    span &nbsp;
    input#input_name(type="text", placeholder="description",
    name="description")
    br
    br
    button#submit_property(type="submit") submit
